@import url(./__lang-links/header__lang-links.css);
@import url(./__lang-link/header__lang-link.css);


.header {
  display: flex;
  justify-content: space-between;
  max-width: 984px;
  width: 100%;
  margin: 34px auto 0;
}


@media screen and (max-width: 1140px) {
  .header {
    max-width: 928px;
  }
}


@media screen and (max-width: 958px) {
  .header {
    max-width: 720px;
  }
}

@media screen and (max-width: 656px) {
  .header {
    max-width: 80vw
  }
}


@media screen and (max-width: 425px) {
  .header {
    max-width: 288px;
  }
}




/* @media screen and (max-width: 656px) {
  .footer {
    margin: 88px 24px 0;
  }
}


@media screen and (max-width: 425px) {
  .cover__link {
    min-height: 200px;
  } */
