@import url(../vendor/fonts/fonts.css);
@import url(../vendor/normalize.css);

@import url(../blocks/page/page.css);
@import url(../blocks/header/header.css);
@import url(../blocks/logo/logo.css);

@import url(../blocks/cover/cover.css);
@import url(../blocks/footer/footer.css);




.page__container {
  max-width: 1184px;
  width: 100%;
  margin: 0 auto;
  /* display: flex;
  flex-direction: column; */
}

.lead {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 58px;
  max-width: 984px;
  margin: 0 auto 0;
}

.lead__title {
  max-width: 720px;
  height: 200px;
  margin: 0 auto 32px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  text-align: center;
}


.lead__subtitle {
  max-width: 620px;
  margin: 0 auto 64px;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.lead__image {
  background-image: url(../images/mountains.jpg);
  max-width: 984px;
  width: 100%;
  padding-bottom: 56.25%;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.lead__caption {
  align-self: flex-start;
  font-weight: normal;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: .15;
  text-transform: uppercase;
  margin: 8px 0 0;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 984px;
  min-height: 568px;
  padding-top: 92px;
  margin: 0 auto 0;
}

.intro__title {
  font-weight: 900;
  font-size: 54px;
  line-height: 58px;
  max-width: 690px;
  margin-bottom: 40px;
}

.intro__subtitle {
  font-weight: normal;
  font-size: 24px;
  line-height: 34px;
  max-width: 690px;
}

.intro__text {
  margin: 32px 0;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  max-width: 690px;
}

.intro__list {
  font-weight: normal;
  font-size: 12px;
  line-height: 18px;
  list-style: none;
  max-width: 690px;
}


.photo-grid {
  max-width: 1184px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  margin: 92px auto 0;
}

@media screen and (max-width: 1140px) {
  .photo-grid {
    gap: 14px;
    max-width: 928px;
  }
}

@media screen and (max-width: 958px) {
  .photo-grid {
    gap: 16px;
    max-width: 720px;
  }
}

.photo-grid__item {
   width: 100%;
}

.places {
  display: grid;
  grid-row: 5;
  row-gap: 80px;
  max-width: 984px;
  min-height: 3452px;
  margin: 92px auto 92px;
}


/* @media screen and (max-width: 1140px) {
  .places {
    max-width: calc(100vw - 96px);
  }
} */


@media screen and (max-width: 1024px) {
  .places {
    max-width: calc(100vw - 96px);
  }
}



@media screen and (max-width: 768px) {
  .places {
    max-width: calc(100vw - 48px);
    row-gap: 70px;
  }
}

@media screen and (max-width: 425px) {
  .places {
    max-width: calc(100vw);
  }
}


.place {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 40px;

}

@media screen and (max-width: 1140px) {
  .place {
    column-gap: 32px;
  }
}

@media screen and (max-width: 958px) {
  .place {
    column-gap: 28px;
  }
}

/* @media screen and (max-width: 656px) {
  .place {
    column-gap: 28px;
  }
} */


@media screen and (max-width: 425px) {
  .place {
    display: flex;
    flex-direction: column;
    /* max-width: 984px;
    min-height: 3452px;
    margin: 92px auto 92px;

    max-width: 320px; */
  }
}


.place__title {
  grid-row: 1/2;
  grid-column: 1;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin-bottom: 48px
}

@media screen and (max-width: 958px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
  }
}

@media screen and (max-width: 425px) {
  .place__title {
    margin-bottom: 32px ;
  }
}

.place__website {
  grid-row: 1/2;
  grid-column: 2;
  list-style: none;
  margin-bottom: 48px;
}

@media screen and (min-width: 959px) {
  .place__website {
    align-self: end;
  }
}

@media screen and (max-width: 425px) {
  .place__website {
    display: none;
  }
}

.place__url-heading {
  font-weight: normal;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: .2;
  color: #AAAAAA;
}



.place__link {
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  color: #fff;
  transition: ease .5s;
}

.place__link:hover {
  opacity: .5;
}

.place__image {
  max-width: 460px;
  grid-column: 1;
  grid-row: 2;
  object-fit: cover;
  width: 100%;
}

/* @media screen and (max-width: 1140px) {
  .place__image {
    max-width: 440px;
  }
}


@media screen and (max-width: 958px) {
  .place__image {
    max-width: 340px;
  }
}

@media screen and (max-width: 656px) {
  .place__image {
    max-width: 320px;
  }
}


@media screen and (max-width: 425px) {
  .place__image {
    max-width: calc(100vw);
  }
} */


.place__paragraph {
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  grid-column: 2;
  grid-row: 2;
  list-style: none;
  margin-bottom: 24px;
}

.place__paragraph:last-of-type {
  margin-bottom: 0;
}


@media screen and (max-width: 958px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
